WCFClient/Connected Services/AthletesService/AthletesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDemo.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDemo.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AthletesNF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="IdAthlete" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AthletesNF" nillable="true" type="tns:AthletesNF" />
</xs:schema>